# Ignore All
/*

# Add .gitignore
!.gitignore

# Add extensions for .vscode
!.vscode
.vscode/extensions/*
!.vscode/extensions/d

# Add settings for .vscode
!AppData
AppData/*
!AppData/Roaming
AppData/Roaming/*
!AppData/Roaming/Code
AppData/Roaming/Code/*
!AppData/Roaming/Code/User
